.PictureRender {
    width: 100%;
    margin: auto;
    height: 102vh;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
@media (min-width: 400px) {

@media (min-width: 985px) { */
