.Picture {
    width: 700px;
    margin: auto;
    margin-top: 40px;
    height: 437px;
    border: 4px dashed #b1afaf;
}

.Picture button {
    margin-top: 20px;
}

p > span {
    text-decoration: underline;
}

.Uploader {
    position: relative;
    overflow: hidden;
    width: 700px;
    height: 437px;
    background-color: #f3f3f3;
}

.FilePhoto {
    position: absolute;
    width: 700px;
    height: 437px;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.Uploader img {
    position: absolute;
    width: 710px;
    height: 447px;
    top: -1px;
    left: -1px;
    z-index: 1;
}
