.Picture {
    width: 82vw;
    height: 80vh;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Uploader {
    position: relative;
    overflow: hidden;
    width: 82vw;
    height: 75vh;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
}
