.Picture {
    width: 90vw;
    height: 90vh;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Uploader {
    position: relative;
    overflow: hidden;
    width: 91vw;
    height: 99vh;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 400px) {
    .Picture {
        width: 90vw;
        height: 676px;
        margin: auto;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Uploader {
        position: relative;
        overflow: hidden;
        width: 87vw;
        height: 700px;
        background-color: #f3f3f3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 900px) {
    .Picture {
        width: 900px;
        height: 760px;
        margin: auto;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Uploader {
        position: relative;
        overflow: hidden;
        width: 87vw;
        height: 82vh;
        background-color: #f3f3f3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
