.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Success {
    background-color: #78df77;
}

.Danger {
    background-color: rgb(142, 117, 223);
}
