body {
    background-image: linear-gradient(110deg, #f93d66, #6d47d9);
}

.tools {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

input[type="number"] {
    width: 50px;
}
