input[type="number"] {
    width: 35px;
    height: 30px;
    margin: 0;
    padding: 0;
}

input[type="color"] {
    border: none;
    width: 65px;
    height: 32px;
}

.canvasDrawing {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

/* the actual image */
.canvasDrawing > div {
    margin-top: 15% !important;
    height: 30vw !important;
    width: 25vw !important;
    object-fit: contain;
}

.Buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 15px;
}

.Group {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Group > button,
.Group > input {
    margin: 5px;
}

@media (max-width: 960px) {
    .canvasDrawing > div {
        margin-top: 15% !important;

        height: 55vh !important;
        width: 85% !important;
    }
}

@media (min-width: 460px) {
    .canvasDrawing > div {
        margin-top: 15% !important;

        height: 55vh !important;
        width: 450px !important;
    }
}
